* {
    margin:0;
}
body{
    overflow:hidden;
}


div {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
    line-height: 1.35715;
}

a {
    text-decoration: none;
}

    a:visited {
        color: blue;
    }

header {
    min-height: 90px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
    line-height: 1.35715;
    border-bottom: solid 1px #f0ad4e;
}
header div button{
    margin: 5px;
}
.main {
    height: 100vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a b b b c";
    /*height: 100vh;*/
    overflow: hidden;
    height: calc(100% - 100px);
}
footer {
    min-height: 10px;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Helvetica Neue','Segoe UI',Helvetica,Verdana,sans-serif;
    line-height: 1.35715;
    border-bottom: solid 1px #f0ad4e;
    overflow: hidden
}
.left {
    grid-area: a;
    min-height: 230px;
    height: 100%;
    display: grid;
    border-right: solid 1px #f0ad4e;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
}

    .left > div {
        padding: 5px;
    }
.title {
    font-size: 23px;
    padding-left: 12px;
    border-bottom: solid 1px #f0ad4e;
}
.title-new-companies {
    grid-area: title-new-companies;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-areas: "titleName titleName titleName titleName titleName plus upload" 
                        "pagination pagination pagination pagination pagination pagination pagination";
}
.grid-pagination {
    grid-area: pagination;
}
.titleName {
    grid-area: titleName;
}

.plus {
    grid-area: plus;
}
    .plus:hover {
        cursor: pointer;
    }
.upload {
    grid-area: upload;
}
    .upload:hover {
        cursor: pointer;
    }
.title-qualified {
    grid-area: title-qualified;
}

.content-new-companies {
    grid-area: content;
}

.content {
    border-bottom: solid 1px #f0ad4e;
    overflow: hidden;
    overflow-y: auto;
}

.content-qualified {
    grid-area: content;
}

.content-not-qualified {
    grid-area: content;
}

.title-not-qualified {
    grid-area: title-not-qualified;
}

.center {
    grid-area: b;
    min-height: 230px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "company-information" "company-information" "company-information" "controls" "prospect-finder" "prospect-finder" "prospect-finder" "prospect-finder";
}

.right {
    border-left: solid 1px #f0ad4e;
    grid-area: c;
    min-height: 230px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "user" "logs";
}

.company-information {
    border-bottom: solid 1px #f0ad4e;
    grid-area: company-information;
}

.controls {
    grid-area: controls;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "not-q-div q-div";
    border-bottom: solid 1px #f0ad4e;
}

.prospect-finder {
    grid-area: prospect-finder;
    overflow: hidden;
    overflow-y: auto;
}

    .prospect-finder button {
        margin: 10px;
    }

.user {
    grid-area: user;
    border-bottom: solid 1px #f0ad4e;
    display: flex;
    flex-direction: column;
}

.logs {
    grid-area: logs;
}

.log-cell {
    color: #0077cc;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: #f0ad4e 1px solid;
}

.log-user {
    color: black;
    font-weight: bold;
    font-size: 13px;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding-right: 12px;
    word-break: break-word;
}

.log-action {
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 3px 0;
    font-weight: bold;
    margin-right: 7px;
    word-break: break-word;
}

.log-date {
    margin: 3px 0;
    text-transform: uppercase;
    font-size: 11px;
    font: inherit;
    vertical-align: baseline;
    color: #45A163;
    white-space: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.linkedin-input{
    width: calc(100% - 5px);
}
table {
    border-spacing: 0;
    border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
    border: 1px solid #f0ad4e; /*устанавливаем для таблицы внешнюю границу серого цвета толщиной 3px*/
    padding: 9px 8px;
    width: 100%;
    text-align: center;
}
tbody tr:hover td {
    color: #6699ff;
}

tbody tr:nth-child(odd) {
    background-color: #dedede;
}

th {
    text-align: center;
    font-size: 12px;
    padding: 1px 0 6px;
}

td {
    text-align: center;
    font-size: 12px;
    padding: 1px 0 6px;
}

th, td {
    border: 1px solid #f0ad4e;
}

    td a {
        margin: 0;
        text-align: center;
        font-size: 12px;
        padding: 1px 0 6px;
    }
    td p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        padding: 1px 0 6px;
    }

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #d9d9d9;
    margin: auto;
    padding: 20px;
    border: 1px solid #f0ad4e;
    width: 80%;
}

    .modal-content button {
        margin-top: 15px;
        margin-left: 15px;
    }

.scroll {
    overflow: hidden;
    overflow-y: auto;
}

.red {
    color: red;
}
.pagination-element {
    border: none;
    padding-bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "prev current current pagesCount next";
}
.prev {
    grid-area: prev;
}
    .prev:hover {
        cursor: pointer;
    }
.pages-count {
    grid-area: pagesCount;
}
.current {
    grid-area: current;
}

.next {
    grid-area: next;
}
    .next:hover {
        cursor: pointer;
    }
.company-element {
    border: none;
    border-bottom: 1px solid #f0ad4e;
    padding-bottom: 3px;
    padding: 12px;
}

    .company-element:hover {
        background: #b9b8b8;
        cursor: pointer;
        text-decoration-color: red;
    }

.ui-progressbar {
    height: 0.25rem;
}
